@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

:root {
        --navy: #1e3d58;
        --royal: #057dcd;
        --grotto: #43b0f1;
        --white: #e8eef1;
        --opaque-white: rgba(232, 238, 241, 0.5);
        --opaque-navy: rgba(30, 61, 88, 0.5);
        --opaque-royal: rgba(5, 125, 205, 0.5);
        --opaque-grotto: rgba(67, 176, 241, 0.5);
        --black: #1a1a1a;
        --serif: 'Playfair Display', serif;
        --sans: 'Open Sans', sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--navy);
    width: calc(100% - 1rem);
    display: grid;
    grid-template-columns: [ startMap ] 50% [ endMap startText ] calc(50% - 1rem) [ endText];
    column-gap: 1rem;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
}

.map-container {
    grid-column: startMap / endMap;
    position: fixed;
    width: calc(50% - 1rem);
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    border-radius: 0.5rem;
}

#features {
    grid-column: startText / endText;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0.5rem;
    overflow-y: scroll;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(16, auto);
    row-gap: 1rem;
    -ms-overflow-style: none;
}

#features::-webkit-scrollbar {
    display: none;
}

section {
    grid-row: auto;
    padding: 1.5rem 1rem 1rem 1rem;
    line-height: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    opacity: 0.25;
    font-size: 1rem;
    background-color: var(--grotto);
    color: var(--navy);
}

section.active {
    opacity: 1;
}

.title {
    margin: 0 auto;
    box-sizing: content-box;
    text-align: center;
    padding: 0.5rem 0;
    background-color: var(--royal);
    color: var(--white);
    border-radius: 0.5rem;
    font-family: var(--serif);
}

.intro-card {
    display: grid;
    grid-template-columns: [ startL ] 5rem [ endL startR ] auto [ endR ];
    grid-template-rows: [ startTop ] auto [ endTop startBottom ] auto [ endBottom ];
    column-gap: 1rem;
}

.intro-img {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    grid-column: startL / endL;
    grid-row: startTop / endBottom;
    align-self: start;

}

.intro-title {
    grid-column: startR / endR;
    grid-row: startTop / endTop;
    align-self: end;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--serif);
}

.intro-body {
    grid-column: startR / endR;
    grid-row: startBottom / endBottom;
    padding: 0.25rem 1.5rem 0.5rem 0rem;
    color: var(--black);
}

.technology-container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.technology-item {
    flex: 0 1 auto;
}

.avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    float: left;
    margin: 0.5rem;
    object-fit: cover;
}

.tooltip {
    position: absolute;
    background-color: var(--white);
    color: var(--navy);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: var(--sans);
    font-weight: 400;
    box-shadow: 0 0 0.5rem var(--navy);
    z-index: 1000;
}

.background-white {
    background-color: white;
}

.card-group {
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 1rem;
}

.card {
    grid-row: auto;
    border: 0.125rem solid var(--white);
    border-radius: 0.5rem;
    background-color: var(--white);
    margin: 0.5rem 1rem 0.75rem 1rem;
    padding: 0.75rem 0.25rem 1rem 1rem;
}

.card:hover, .card:focus {
    border: 0.125rem solid var(--navy);
}

.card-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    font-weight: 600;
}

.card-text {
    font-family: var(--sans);
    font-size: 1rem;
    font-weight: 400;
}

.education {
    background-color: var(--royal);
    color: var(--white);
}

.sect-title {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0;
}

.place {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0 0.5rem 0 0;
    margin: 0;
}

.year {
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0 1rem 0 0;
    margin: 0;
}

.knowledge-header {
    margin: 0.5rem 0 0.5rem 0;
    font-family: var(--serif);
    font-weight: 700;
    color: var(--black);
}

.knowledge-item {
    margin: 0.5rem 0 0.75rem 0.75rem;
}

.sect-text {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin: 1.5rem 0 0 0;
    width: 100%;
}

.cert-title {
    font-weight: 700;
    font-size: 1.25rem;
}

.list-group {
    list-style: none;
    list-style-position: outside;
    padding: 0;
}

.list-group-item {
    padding: 0.5rem 0 0 0;
}

a {
    text-decoration: none;
    color: inherit;
    max-width: 96vw;
}

a:hover, a:focus {
    font-weight: 700;
    cursor: pointer;
}

.img-responsive {
    box-sizing: content-box;
    max-height: 18.75rem;
    max-width: calc(92vw - 1.5rem);
    border-radius: 0.5rem;
}

.popups {
    font-family: 'Oswald', sans-serif;
    max-width: 25rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.mapboxgl-popup-content {
    background-color: var(--royal);
    color: var(--white);
    font-size: 1rem;
    padding: 1.5rem;
}

.mapboxgl-popup-content .sect-title {
    background-color: var(--white);
    color: var(--navy);
    display: block;
    padding: 0.5rem 1.5rem 0.75rem 1.5rem;
    border-radius: 0.5rem;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-top-color: var(--royal);
}

.mapboxgl-popup-close-button {
    color: var(--white);
    font-size: 1.25rem;
    padding: 0.25rem;
    height: 2rem;
    width: 2rem;
    background-color: var(--navy);
    border-radius: 50%;
    margin: 0.5rem;
}

.mapboxgl-popup-close-button:hover,
.mapboxgl-popup-close-button:focus {
    color: var(--navy);
    background-color: var(--white);
}

.label {
    padding: 0 1rem 0 0;
}

.home-link {
    text-align: center;
    margin: 2rem 0;
    text-decoration: none;
    min-height: 50vh;
    color: var(--white);
}

.home-link:hover {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.icon {
    background-color: var(--white);
    padding: 0.125rem;
    border-radius: 0.5rem;
    border: 0.125rem solid var(--navy);
    margin: 0 0.5rem 0 0;
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--grotto);
}

@media only screen and (max-width: 600px) {
    body {
        max-width: 34.5rem;
        display: flow-root;
    }

    .map-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        margin: 0;
    }

    #map {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 0.5rem;
    }

    #features {
        position: absolute;
        bottom: 0;
        top: calc(50% + 1rem);
        width: calc(100vw - 1.5rem);
        box-sizing: border-box;
        row-gap: 1rem;
    }
    section {
        grid-row: auto;
        padding: 0.75rem 0.5rem 0 0.5rem;
    }

    .card {
        padding: 0.75rem 0.5rem 0 0.5rem;
        margin: 0.5rem 0 1rem 0;
    }
}
